/* Import de font-awesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
/* Import de fuente local para logo */
@font-face {
    font-family: 'happy';
    src: url(../fonts/KGHAPPY.ttf);
}

*{margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; box-sizing: border-box;}

/* DARK MODE STYLES */
/* ------------------------------------------------------------- */
.dark{
    background-color: rgb(59, 56, 56);
}
body{
    transition: background 0.3s;
}

/* HEADER STYLES */
/* ------------------------------------------------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    background-color: #da4b2a;
    border-bottom: 5px solid #ff603d;
}
header .logo{
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 2rem;
}
.logo h1{
    padding-left: 1rem;
    color: rgb(255, 255, 255);
    font: normal 42px 'happy';
    letter-spacing: .4rem;
}
header .nav-menu{
    width: 260px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ff603d;
    margin-right: 2rem;
    padding: .5rem 1rem;
    border-radius: 10px;
}
.nav-menu .fa-moon, .fa-sun{
    color: white;
}

.fa-moon, .fa-sun, .fa-music{
    margin-right: 2rem;
    font-size: 1.5rem;
}

.fa-moon, .fa-sun, .fa-music:hover{
    cursor: pointer;
}

/* Cuando se reproduce audio cambia de estilo de pause a play */
.pause  {color: white; transition: .2s ease;}
.play   {color: #8f311c; transition: .2s ease;}

select{
    padding: .2rem .6rem;
    background-color: white;
    border: none;
}
select:hover{
    cursor: pointer;
}

/* COMIC CONTAINER STYLES */
/* ------------------------------------------------------------- */
main {
    width: 70%;
    margin: 2rem auto;
}

#comic-container div{
    position: relative;
}
#comic-container div img{
    width: 100%;
}

/* Estilos para texto con posición top-left, top-right, bottom-left de JSON */
.top-left, .top-right, .bottom-left{
    position: absolute;
    width: 400px;
    height: 160px;
    font: bold 16px Arial;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    color: rgb(51, 51, 51);
}
.top-left {
    top: 0rem;
    left: 0rem;
}
.top-right {
    top: 0rem;
    right: 0rem;
}
.bottom-left {
    bottom: 0;
    left: 0;
}

/* Estilos para paginación */
.hidden {
    display: none;
}
.block {
    display: block;
}

/* PAGE SELECTOR STYLES */
/* ------------------------------------------------------------- */
#page-selector{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    margin: 1rem auto;
}
#page-selector div{
    padding: .5rem .8rem;
    transition: .2s ease;
    border-radius: 50%;
    font: bolder 18px Arial;
}
#page-selector a{
    text-decoration: none;
    color: rgb(39, 39, 39);
}
#page-selector div:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.295);
    border-radius: 50%;
}

/* MEDIA-QUERIES */
/* Para pantallas de portátil 1366x768px */
@media (max-width: 1400px) {
    .top-left, .top-right, .bottom-left {
        padding: 1rem;
        width: 290px;
        height: 120px;
    }
}